@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(273deg, #fdf0d5ba, #003049c4);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
a{
    width: 35px;
    height: 25px;
    color: black;
    background-color: aqua;
}
h1{
    color: #fff;
    font-size: 20px;
}
.btn-warning {
    color: #000;
    background-color: #ffc107;
    border-color: #ffc107;
    width: 75px;
    height: 35px;
    /* align-items: center; */
}
.top {
    width: 29%;
    color: #fff;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    background: #000;
    border-radius: 15px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  th,
  td {
    text-align: left;
    padding: 8px;
  }
  th {
    background-color: #4caf50;
    color: white;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  .filter-input {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  select {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }