{% extends "base.html" %} {% block title %} HOME {% endblock %}
{%block link%}
<link rel="stylesheet" href="static/css/style.css" />
{%endblock%}
{%block content%}
<div class="container">
  <nav>
    <div class="menu">
      <ul>
        <!--  -->
        <li>
          <a href="#home" class="home active"> home </a>
        </li>
        <li><a href="#event" class="event">events</a></li>
        <li><a href="#tech" class="tech">tech</a></li>
        <li><a href="#non-tech" class="non-tech">non-tech</a></li>
        <li><a href="#contact" class="contact">contact</a></li>
      </ul>
    </div>
  </nav>
  <section id="home" class="section1">

    <marquee class="marquee">Event date time and some other details.</marquee>
    <div class="college-name">
      <div class="logo"><img src="static/images/logo.png" /></div>
      <h1>panimalar engineerimg college</h1>
      <h2>An autonomous institution</h2>
      <h3>
        affiliated to anna university, chennai <br />
        <span>(jaisakthi education trust)</span>
      </h3>
    </div>
    <a href="#event" id="next" class="hnext"></a>
  </section>
  <section id="event" class="section2">
    <div class="time-container">
      <div class="dept-name">
        <h1>department of<span> information technology</span></h1>
      </div>
      <div class="launch-name">
        <h1>w're <span>launching</span> event</h1>
      </div>
      <div class="calender">
        <div class="calender-container">
          <div class="days">
            <p id="days">00</p>
            <span class="span" id="">Days</span>
          </div>
          <div class="minutes">
            <p id="minutes">00</p>
            <span class="span" id="">Minutes</span>
          </div>
          <div class="hours">
            <p id="hours">00</p>
            <span class="span" id="">Hours</span>
          </div>
          <div class="seconds">
            <p id="seconds">00</p>
            <span class="span" id="">Seconds</span>
          </div>
        </div>
      </div>
    </div>

    <a href="#home" id="prev" class="eprev"></a>
    <a href="#tech" id="next" class="enext"></a>
    <script src="static/js/event.js"></script>
  </section>
  <section id="tech" class="section4">
    <div class="techevent-container">
      <div class="eventname-continer">
        <ul>
          <li class="li1"><img src="static/tech-images/hack.png" alt="" class="img-tech"></li>
          <li class="li2"><img src="static/tech-images/build-code.png" alt="" class="img-tech"></li>
          <li class="li3"><img src="static/tech-images/tech-quize.png" alt="" class="img-tech"></li>
          <li class="li4"><img src="static/tech-images/typewritting.png" alt="" class="img-tech"></li>
        </ul>
      </div>
      <div class="event-description">
        <div class="event1-description">
          <h1>WIKIPEDIA SPEEDRUN</h1>
          <p>
            The rules of this game are simple. You'll be given a starting Wikipedia article and an ending Wikipedia
            article. Your goal is to navigate from the starting article to the ending article using only the article
            links

          </p>
          <div class="button-tech">
            <a href="#">download</a>
            <a href="{{url_for('views.tech_register')}}">register</a>
          </div>
        </div>
        <div class="event2-description">
          <h1>CODE COMBACKT</h1>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error cum suscipit fugit excepturi dignissimos,
            incidunt ea omnis ab provident ex aperiam nam accusamus cupiditate facere deleniti voluptas pariatur tempore
            enim.

          </p>
          <div class="button-tech">
            <a href="#">download</a>
            <a href="{{url_for('views.tech_register')}}">register</a>
          </div>
        </div>
        <div class="event3-description">
          <h1>HACK CRACK</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quam, obcaecati expedita vero officia fuga
            quaerat tenetur debitis sequi neque? Voluptatibus minima quo corporis deleniti alias consequatur nostrum
            debitis est.

          </p>
          <div class="button-tech">
            <a href="#">download</a>
            <a href="{{url_for('views.tech_register')}}">register</a>
          </div>
        </div>
        <div class="event4-description">
          <h1>EXPRESS ON</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quam, obcaecati expedita vero officia fuga
            quaerat tenetur debitis sequi neque? Voluptatibus minima quo corporis deleniti alias consequatur nostrum
            debitis est.

          </p>
          <div class="button-tech">
            <a href="#">download</a>
            <a href="{{url_for('views.tech_register')}}">register</a>
          </div>
        </div>
      </div>
    </div>

    <a href="#non-tech" class="tnext" id="next"></a>
    <a href="#event" class="tprev" id="prev"></a>
    <script src="static/js/tech.js"></script>
  </section>
  <section id="non-tech" class="section3">
    <div class="tech-container">
      <div class="debug">
        <div class="raw-content">
          <img src="static/nontech-image/photography.png" />
          <h1>GEOGUESSER</h1>
        </div>
        <div class="tech-content">
          <p>
            GeoGuesser is a geography game in which players guess locations from the given pictures. The places should
            be ask from any places . If the image is not findable the players should give the relatable answers about
            the image.
          </p>

          <a href="" class="down">download</a>
          <a class="reg" href="{{url_for('views.tech_register')}}">register</a>

        </div>
      </div>
      <div class="twrite">
        <div class="raw-content">
          <img src="static/nontech-image/storywriting.png" />
          <h1>LIGHT CAMERA ACTION</h1>
        </div>
        <div class="tech-content">
          <p>
            "Light, Camera, Action" can also refer to a party or board game where players act out scenes and compete for
            points.
            Players take turns being the director and choosing actors to perform a scene based on a prompt, while the
            other players vote on their favorite performance.
            <!-- The objective of the game is to earn the most points by giving the best performance, either by acting or directing. It is a fun game that combines elements of charades, improv, and competition, making it a popular choice for parties and gatherings. -->
          </p>


          <a href="" class="down">download</a>
          <a class="reg" href="{{url_for('views.tech_register')}}">register</a>

        </div>
      </div>

      <div class="quiz">
        <div class="raw-content">
          <img src="static/nontech-image/cube.png" />
          <h1>SHIP WRECK</h1>
        </div>
        <div class="tech-content">
          <p>
            You are on the ship with other famous celebrities/ fictional characters/ hypothetical characters. Sink into
            the given character and try to escape from the sinking ship by using your impressive, convincing skills and
            prove that you deserve the only Life-jacket.
          </p>


          <a href="" class="down">download</a>
          <a class="reg" href="{{url_for('views.tech_register')}}">register</a>

        </div>
      </div>
      <div class="build">
        <div class="raw-content">
          <img src="static/tech-images/tech-quize.png" />
          <h1>60 SECONDS FAME</h1>
        </div>
        <div class="tech-content">
          <p>
            The amount of time allotted to the performers differs from college to college. It usually ranges from 30 to
            60 seconds.
          </p>

          <a href="" class="down">download</a>
          <a class="reg" href="{{url_for('views.tech_register')}}">register</a>

        </div>
      </div>
    </div>
    <div class="text">
      <h1>
        <span id="non">n</span>
        <span id="non">o</span>
        <span id="non">n</span>
        <span>t</span>
        <span>e</span>
        <span>c</span>
        <span>h</span>
        <span>n</span>
        <span>i</span>
        <span>c</span>
        <span>a</span>
        <span>l</span>
      </h1>
    </div>
    <a href="#contact" class="nnext" id="next"></a>
    <a href="#tech" class="nprev" id="prev"></a>
  </section>
  <section id="contact" class="section5">
    <div class="contact-container">
      <h1>Connect With Us</h1>
      <p>
        We would love to respond to your queries and help you succeed.
        <br />
        Feel free to get in touch with us
      </p>
      <div class="contact-box">
        <div class="contact-left">
          <h3>Send your request</h3>
          <form method="post" action="{{url_for('views.connect')}}">
            <div class="input-row">
              <div class="input-group">
                <label>Name</label>
                <input type="text" name="name" id="name" placeholder="your name" required />
              </div>
              <div class="input-group">
                <label>Phone</label>
                <input name="number" type="text" id="phnum" placeholder="+91 0987654321" required />
              </div>
            </div>
            <div class="input-row">
              <div class="input-group">
                <label>Email</label>
                <input name="mail" type="email" id="mail" placeholder="example@gmail.com" required />
              </div>
              <div class="input-group">
                <label>Subject</label>
                <input type="text" name="subject" placeholder="Event details" />
              </div>
            </div>
            <label>Message</label>
            <textarea name="message" id="mess" placeholder="Your message" rows="5" required></textarea>

            <button type="submit" onclick="send()">SEND</button>
          </form>
        </div>
        <div class="contact-right">
          <h3>Reach us</h3>
          <table>
            <tr>
              <td>Email</td>
              <td>eventcontact@gmail.com</td>
            </tr>
            <tr>
              <td>Phone</td>
              <td>+91 938 446 0843 <br>
                +91 908 978 6756</td>
            </tr>
            <tr>
              <td>Address</td>
              <td>
                Bangalore Trunk road, Varadharajapuram<br />
                Nazarethpet, Poonamalle, Chennai-600 123.
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <script src="static/js/contact.js"></script>
    <a href="#non-tech" class="cprev" id="prev"></a>



    <footer>
      <div class="logos">
        <ul>
          <li>
            <img src="static/img/ieee.png" class="ieee" alt="ieee logo" />
          </li>
          <li>
            <img src="static/img/robotics.png" class="robotics" alt="robotics" />
          </li>
          <li>
            <img src="static/img/computational.png" class="computational" alt="" />
          </li>
        </ul>
      </div>
      <div class="dev-names">
        <ul>
          <legend>developed by:</legend> 
          <div class="name-box">
            <li class="name">
              <img src="static/img/github.jpeg" class="git" />
              <h2 class="h22">
                <a href="https://github.com/Vinoth82003/" title="visit github"
                  >vinoth</a
                >
              </h2>
            </li>
            <li class="name">
              <img src="static/img/github.jpeg" class="git" />
              <h2>
                <a
                  href="https://github.com/sabarinathan1611/"
                  title="visit github"
                  >sabarinathan</a
                >
              </h2>
            </li>
          </div>
        </ul>
      </div>
    </footer>

  </section>

</div>
<script src="static/js/index.js"></script>
{%endblock%}