{% extends "base.html" %} {% block title %} HOME {% endblock %}
{%block link%}
<link rel="stylesheet" href="static/css/style.css" />
<link rel="stylesheet" href="static/css/timeline.css" />
<!-- <link rel="stylesheet" href="static/css/clock.css" /> -->
{%endblock%}
{%block content%}
<div class="container">
  <nav class="main-nav" id="main-nav">
    <div class="menu">
      <ul class="ulu">
        <!--  -->
        <li>
          <a href="#home" class="home active"> home </a>
        </li>
        <li><a href="#event" class="event">events</a></li>
        <li><a href="#tech" class="tech">tech</a></li>
        <li><a href="#non-tech" class="non-tech">non-tech</a></li>
        <li><a href="#contact" class="contact">contact</a></li>
      </ul>
    </div>
  </nav>

  <nav id="timeout-nav">
    <div class="timeout-menu">
      <ul>
        <li>
          <a href="#home" class="home active">home</a>
        </li>
        <li><a href="#event" class="event">events</a></li>
        <li><a href="#contact" class="contact">contact</a></li>
      </ul>
    </div>
  </nav>

  <section id="home" class="section1">

    <marquee class="marquee">
      <p id="views">0</p>
    </marquee>
    <div class="college-name">
      <div class="logo"><img src="static/images/logo.png" /></div>
      <h1>panimalar engineering college</h1>
      <h2>An autonomous institution</h2>
      <h3>
        affiliated to anna university, chennai <br />
        <span>(jaisakthi education trust)</span>
      </h3>
    </div>
    <a href="#event" id="next" class="hnext"></a>
  </section>
  <section class="timing_event" id="eventTime">
    <div class="dept_desc">
      <h3 class="h3_element">
        <span class="of">D</span>epartment <span class="of">O</span>f
      </h3>
      <h4 class="IT" id="IT">
        <span class="it">I</span>nformation
        <span class="it">T</span>echnology
      </h4>
      <h5 class="presents">
        <div class="pres">
          <span class="p">P</span>resents
        </div>
        <div class="curr_eventName">
          <span class="p">T</span>ech
          <span class="p">F</span>est
        </div>
      </h5>
      <div class="on_date">
        <h1 class="date">
          <span class="o">O</span>n
          <span id="eventDate"> [ 11 / 08 / 2023 ]</span>
        </h1>
      </div>
    </div>
    <div class="countDown_box">
      <div class="time">
        <div class="circle" style="--clr:#ffffff;">
          <div class="dots day_dot"></div>
          <svg>
            <circle cx="50" cy="50" r="50"></circle>
            <circle cx="50" cy="50" r="50" id="dd"></circle>
          </svg>
          <div class="days dhms" id="days">00 <br>
            <span class="dhms_n">days</span>
          </div>
        </div>

        <div class="circle" style="--clr:#ff2972;">
          <div class="dots hrs_dot"></div>
          <svg>
            <circle cx="50" cy="50" r="50"></circle>
            <circle cx="50" cy="50" r="50" id="hh"></circle>
          </svg>
          <div class="hours dhms" id="hours">00 <br>
            <span class="dhms_n">hourss</span>
          </div>
        </div>

        <div class="circle" style="--clr:#fee800;">
          <div class="dots min_dot"></div>
          <svg>
            <circle cx="50" cy="50" r="50"></circle>
            <circle cx="50" cy="50" r="50" id="mm"></circle>
          </svg>
          <div class="minutes dhms" id="minutes">00 <br>
            <span class="dhms_n">minutes</span>
          </div>
        </div>

        <div class="circle" style="--clr:#04fc43;">
          <div class="dots sec_dot"></div>
          <svg>
            <circle cx="50" cy="50" r="50"></circle>
            <circle cx="50" cy="50" r="50" id='ss'></circle>
          </svg>
          <div class="seconds dhms" id="seconds">00 <br>
            <span class="dhms_n">seconds</span>
          </div>
        </div>

      </div>
    </div>
  </section>
  <section class="timeline">

    <ul class="timeline_ul">
      <li class="timeline_li">
        <div class="content">
          <img src="static/img/tech/build-code.png" class='img' />
          <h3 class="event_title">Event 1</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id nam asperiores, consequuntur
            dicta obcaecati porro dolore fugiat ipsam quisquam perspiciatis ipsum sequi odit, natus quibusdam
            possimus ullam. Neque, earum?
        </div>
      </li>

      <li class="timeline_li">
        <div class="content">
          <img src="static/img/tech/hack.png" class='img' />
          <h3 class="event_title">Event 2</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id nam asperiores, consequuntur
            dicta obcaecati porro dolore fugiat ipsam quisquam perspiciatis ipsum sequi odit, natus quibusdam
            possimus ullam. Neque, earum?
          </p>
        </div>
      </li>

      <li class="timeline_li">
        <div class="content">
          <img src="static/img/tech/tech-quize.png" class='img' />
          <h3 class="event_title">Event 3</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id nam asperiores, consequuntur
            dicta obcaecati porro dolore fugiat ipsam quisquam perspiciatis ipsum sequi odit, natus quibusdam
            possimus ullam. Neque, earum?
          </p>
        </div>
      </li>

      <li class="timeline_li">
        <div class="content">
          <img src="static/img/tech/typewritting.png" class='img' />
          <h3 class="event_title">Event 4</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id nam asperiores, consequuntur
            dicta obcaecati porro dolore fugiat ipsam quisquam perspiciatis ipsum sequi odit, natus quibusdam
            possimus ullam. Neque, earum?
          </p>
        </div>
      </li>

      <li class="timeline_li">
        <div class="content">
          <img src="static/img/non-tech/bottlegame.png" class='img' />
          <h3 class="event_title">Event 5</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id nam asperiores, consequuntur
            dicta obcaecati porro dolore fugiat ipsam quisquam perspiciatis ipsum sequi odit, natus quibusdam
            possimus ullam. Neque, earum?
          </p>
        </div>
      </li>

      <li class="timeline_li">
        <div class="content">
          <img src="static/img/non-tech/cube.png" class='img' />
          <h3 class="event_title">Event 6</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id nam asperiores, consequuntur
            dicta obcaecati porro dolore fugiat ipsam quisquam perspiciatis ipsum sequi odit, natus quibusdam
            possimus ullam. Neque, earum?
          </p>
        </div>
      </li>

      <li class="timeline_li">
        <div class="content">
          <img src="static/img/non-tech/photography.png" class='img' />
          <h3 class="event_title">Event 7</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id nam asperiores, consequuntur
            dicta obcaecati porro dolore fugiat ipsam quisquam perspiciatis ipsum sequi odit, natus quibusdam
            possimus ullam. Neque, earum?
          </p>
        </div>
      </li>

      <li class="timeline_li">
        <div class="content">
          <img src="static/img/non-tech/storywriting.png" class='img' />
          <h3 class="event_title">Event 8</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste id nam asperiores, consequuntur
            dicta obcaecati porro dolore fugiat ipsam quisquam perspiciatis ipsum sequi odit, natus quibusdam
            possimus ullam. Neque, earum?
          </p>
        </div>
      </li>

      <li class="timeline_li"></li>
    </ul>

  </section>

  <section id="contact" class="section5">
    <div class="contact-container">
      <h1>Connect With Us</h1>
      <p>
        We would love to respond to your queries and help you succeed.
        <br />
        Feel free to get in touch with us
      </p>
      <div class="contact-box">
        <div class="contact-left">
          <h3>Send your request</h3>
          <form method="post" action="{{url_for('views.connect')}}">
            <div class="input-row">
              <div class="input-group">
                <label>Name</label>
                <input type="text" name="name" id="name" placeholder="your name" required />
              </div>
              <div class="input-group">
                <label>Phone</label>
                <input name="number" type="text" id="phnum" placeholder="+91 0987654321" required />
              </div>
            </div>
            <div class="input-row">
              <div class="input-group">
                <label>Email</label>
                <input name="mail" type="email" id="mail" placeholder="example@gmail.com" required />
              </div>
              <div class="input-group">
                <label>Subject</label>
                <input type="text" name="subject" placeholder="Event details" />
              </div>
            </div>
            <label>Message</label>
            <textarea name="message" id="mess" placeholder="Your message" rows="5" required></textarea>

            <button type="submit" onclick="send()">SEND</button>
          </form>
        </div>
        <div class="contact-right">
          <h3>Reach us</h3>
          <table>
            <tr>
              <td>Email</td>
              <td>eventcontact@gmail.com</td>
            </tr>
            <tr>
              <td>Phone</td>
              <td>+91 938 446 0843 <br>
                +91 908 978 6756</td>
            </tr>
            <tr>
              <td>Address</td>
              <td>
                Bangalore Trunk road, Varadharajapuram<br />
                Nazarethpet, Poonamalle, Chennai-600 123.
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <script src="static/js/contact.js"></script>
    <a href="#non-tech" class="cprev" id="prev"></a>



    <footer>
      <div class="logos">
        <ul>
          <li>
            <img src="static/img/ieee.png" class="ieee" alt="ieee logo" />
          </li>
          <li>
            <img src="static/img/robotics.png" class="robotics" alt="robotics" />
          </li>
          <li>
            <img src="static/img/computational.png" class="computational" alt="" />
          </li>
        </ul>
      </div>
      <div class="dev-names">
        <ul>
          <legend>developed by:</legend>
          <div class="name-box">
            <li class="name">
              <img src="static/img/github.jpeg" class="git" />
              <h2 class="h22">
                <a href="https://github.com/Vinoth82003/" title="visit github">vinoth</a>
              </h2>
            </li>
            <li class="name">
              <img src="static/img/github.jpeg" class="git" />
              <h2>
                <a href="https://github.com/sabarinathan1611/" title="visit github">Harish</a>
              </h2>
            </li>
          </div>
        </ul>
      </div>
    </footer>

  </section>
</div>
<!-- <script src="static/js/index.js"></script> -->
<!-- <script src="static/js/view.js"></script> -->
<script src="static/js/timeline.js"></script>
{%endblock%}