<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new form</title>
    <link rel="stylesheet" href="static/css/register.css">
</head>

<body>
    <section class="main-container">
        <div class="form-container">
            <div class="error_box">
                <div class="close_btn"></div>
                <p id="error_msg"></p>
            </div>

            <div class="error_box">
                {% with messages = get_flashed_messages(with_categories=true) %} {% if
                messages %} {% for category, message in messages %} {% if category ==
                'error' %}
                <div class="close_btn"></div>
                <p id="error_msg"> {{ message }}</p>
                {% endif %} {% endfor %} {% endif %} {% endwith %}
            </div>
            <form enctype="multipart/form-data" action="{{url_for('auth.registerdb')}}" method="post" class="form">
                <div class="front_form">

                    <input type="hidden" name="techval" id="techval" />
                    <fieldset>
                        <legend> name :</legend>
                        <input type="text" name="name" id="name">
                    </fieldset>
                    
                    <fieldset>
                        <legend>rollno :</legend>
                        <input type="text" name="rollno" id="rollno">
                    </fieldset>
                    <fieldset>
                        <legend>department :</legend>
                        <select name="dept" id="dept">
                            <option value="">select dept</option>
                            <option value="it">IT</option>
                            <option value="cse">CSE</option>
                            <option value="ai/ds">AI/DS</option>
                            <option value="cce">CCE</option>
                            <option value="csbs">CSBS</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <legend>year :</legend>
                        <select name="year" id="year">
                            <option value="">select year</option>
                            <option value="II">II</option>
                            <option value="III">III</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <legend>IEEE member :</legend>
                        <select name="ieee" id="member">
                            <option value="">select option</option>
                            <option value="yes">YES</option>
                            <option value="no">NO</option>
                        </select>
                    </fieldset>
                    <fieldset id="upload">
                        <legend>member id :</legend>
                        <input type="file" name="image" id="uploaded">
                    </fieldset>

                </div>
                <div class="back_form">
                    <fieldset>
                        <legend> email:</legend>
                        <input type="email" name="email" id="name">
                    </fieldset>
                    <fieldset class="tech_field">
                        <legend>tech events :</legend>
                        <input type="hidden" name="techval" id="techval" />
                        <input class="tech" type="checkbox" name="event1" id=""> <span id="events">event1event</span>
                        <input class="tech" type="checkbox" name="event2" id=""> <span id="events">event2event</span>
                        <input class="tech" type="checkbox" name="event3" id=""> <span id="events">event3event</span>
                        <input class="tech" type="checkbox" name="event4" id=""> <span id="events">event4event</span>
                        <input type="checkbox" name="event5" id="techteamcheck" class="tech team_events techteam"><span
                            id="events">event5 [team]</span>
                    </fieldset>
                    <input type="hidden" name="nontechval" id="nontechval">
                    <fieldset class="nontech_field">
                        <legend>non tech events :</legend>
                        <input class="nontech" type="hidden" name="nontechval" id="nontechval">
                        <input class="nontech" type="checkbox" name="event6" id=""><span id="events">event6</span>
                        <input class="nontech" type="checkbox" name="event7" id=""><span id="events">event7</span>
                        <input class="nontech" type="checkbox" name="event8" id=""><span id="events">event8</span>
                        <input type="checkbox" name="event9" id="teamcheck"
                            class="nontech team_events nontechteam"><span id="events">event9 [team]</span>
                    </fieldset>
                    <fieldset id="teamname_field">
                        <legend>team name:</legend>
                        <input type="text" name="teamname" id="teamname"
                            placeholder="Only requiered if you participate in team event">
                    </fieldset>
                    <fieldset id="teammember_field">
                        <legend>team members name:</legend>
                        <textarea name="teammember" id="teammember" cols="80" rows="3"
                            placeholder="Only requiered if you participate in team event"></textarea>
                    </fieldset>
                </div>
                <div class="buttons">
                    <button type="button" class="prev">prev</button>
                    <button type="button" class="next">next</button>
                    <button type="button" class="submit">submit</button>
                </div>
            </form>

        </div>
        <div class="left_half"></div>
        <div class="right_half"></div>

    </section>
    <script src="/static/js/newregister.js"></script>
    <script src="/static/js/filesize.js"></script>
</body>
</html>