<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/response.css">
  <title>Response</title>
</head>

<body>
  <div class="container">
    






    <div class="heading">
      <h6>Thank for Register</h6>
    </div>
      <div class="msg">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Error sed dolores minima voluptatem voluptatibus
        corrupti, necessitatibus a quis voluptas dolor libero natus accusantium! Voluptatum, quis nostrum! Doloremque ea
        officia sapiente.
      </div>

  </div>

</body>

</html>