<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verify page</title>
    <link rel="stylesheet" href="/static/css/verify.css">
   
</head>

<body>
    <script src="/static/js/del.js"></script>
    <!-- <div class="verify-container">
        <div class="inner-container">
            <div class="participant-details">
                <ul>
                    <li>name: name</li>
                    <li>rollno: 2021pecit223</li>
                </ul>
            </div>
            <div class="image-container">
                <img src="/wallpaperflare.com_wallpaper(3).jpg" alt="">
            </div>
        </div>
    </div> -->

    {% for photo in photos %}

    <div class="posts">

        <div class="post-title">
            <div class="username">
                <button onclick=" deleteImg({{photo.id}})" class="delbtn">Delete</button>
                
                <!-- <p class="name">ID: {{photo.id}}</p> -->
                <p class="name">Name: {{photo.name}}</p>
                <p class="name">Rollno:{{photo.rollnum}} </p>
                <p class="name">Tech Event:{{photo.techevent}} </p>
                <p class="name">NONTech Event:{{photo.nontechevent}} </p>
                <!-- <p class="name">NONTech Event:{{photo.mimetype}} </p> -->
            </div>
        </div>
       
        <div class="post-content">
            {%if photo.mimetype == 'application/pdf'%}
            <iframe src="{{url_for('static', filename='uploads/'+photo.img_name)}}" width="100%" height="500px">
                {%else%}
                <img src="{{url_for('static', filename='uploads/'+photo.img_name)}}" height="400" width="600" alt="post">
            {%endif%}
        </div>
    </div>
   
    {% endfor %}
    
</body>

</html>