<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verify page</title>
    <link rel="stylesheet" href="/static/css/verify.css">
</head>

<body>
    <!-- <div class="verify-container">
        <div class="inner-container">
            <div class="participant-details">
                <ul>
                    <li>name: name</li>
                    <li>rollno: 2021pecit223</li>
                </ul>
            </div>
            <div class="image-container">
                <img src="/wallpaperflare.com_wallpaper(3).jpg" alt="">
            </div>
        </div>
    </div> -->

    {% for photo in photos %}

    <div class="posts">

        <div class="post-title">
            <div class="username">
                <button onclick="deleteImg({{photo.id}})">Delete</button>
                <p class="name">Name: {{photo.name}}</p>
                <p class="name">Rollno:{{photo.rollnum}} </p>
                <p class="name">Tech Event:{{photo.techevent}} </p>
                <p class="name">NONTech Event:{{photo.nontechevent}} </p>
            </div>
        </div>

        <div class="post-content">

            <img src="{{url_for('static', filename='uploads/'+photo.img_name)}}" height="400" width="600" alt="post">

        </div>
    </div>

    {% endfor %}
    <script src="/static/js/del.js"></script>
</body>

</html>