<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verify page</title>
    <link rel="stylesheet" href="/verify.css">
</head>

<body>
    <!-- <div class="verify-container">
        <div class="inner-container">
            <div class="participant-details">
                <ul>
                    <li>name: name</li>
                    <li>rollno: 2021pecit223</li>
                </ul>
            </div>
            <div class="image-container">
                <img src="/wallpaperflare.com_wallpaper(3).jpg" alt="">
            </div>
        </div>
    </div> -->



    <div class="posts">

        <div class="post-title">
            <div class="username">
                <p class="name">Name: Harish </p>
                <p class="name">Rollno:2021pecit001 </p>
            </div>
        </div>
        <div class="post-content">

            <img src="/wallpaperflare.com_wallpaper(3).jpg" height="400" width="600" alt="post">

        </div>
    </div>


</html>