<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/download.css">
    <title>Dowmload</title>
</head>
<body>
    <div class="container">
       
        <div class="box">
            <h6>Download Your Excel File </h6>
            <div class="even1"><a href="/static/XLfile/event1.xlsx" download>EVENT1</a></div>
            <div class="even2"><a href="/static/XLfile/event2.xlsx" download>EVENT2</a></div>
            <div class="even3"><a href="/static/XLfile/event3.xlsx" download>EVENT3</a></div>
            <div class="even4"><a href="/static/XLfile/event4.xlsx" download>EVENT4</a></div>
            <div class="even5"><a href="/static/XLfile/event5.xlsx" download>EVENT5</a></div>
            <div class="even6"><a href="/static/XLfile/event6.xlsx" download>EVENT6</a></div>
            <div class="even7"><a href="/static/XLfile/event7.xlsx" download>EVENT7</a></div>
            <div class="even8"><a href="/static/XLfile/event8.xlsx" download>EVENT8</a></div>
            <div class="even9"><a href="/static/XLfile/event9.xlsx" download>EVENT9</a></div>
        </div>
    </div>
    
</body>
</html>